$mat-xs: "max-width: 479px";
$mat-sm: "min-width: 600px and max-width: 959px";
$mat-md: "min-width: 960px and max-width: 1279px";
$mat-lg: "min-width: 1280px and max-width: 1919px";
$mat-xl: "min-width: 1920px and max-width: 5000px";
$mat-lt-sm: "max-width: 599px";
$mat-lt-md: "max-width: 959px";
$mat-lt-lg: "max-width: 1279px";
$mat-lt-xl: "max-width: 1919px";
$mat-gt-xs: "min-width: 480px";
$mat-gt-sm: "min-width: 600px";
$mat-gt-md: "min-width: 960px";
$mat-gt-lg: "min-width: 1280px";
$mat-gt-xl: "min-width: 1920px";
